@import "tailwindcss";

@theme {
    --color-blue: rgb(12, 59, 130);
    --color-indigo: rgb(24, 12, 130);
    --color-purple: rgb(83, 12, 130);

    --font-roboto: 'Roboto', 'sans-serif';
    --font-archivo: "Archivo Black", sans-serif;

    /* TODO:  add custom width */
    /* --content-width: 130vh; */
}

:root {
    margin: 0;
    padding: 0;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -ms-overflow-style: none;
    scrollbar-width: none;

    /* scrollbar-gutter: stable; */
}

:root::-webkit-scrollbar {
    display: none;
}

/* ::-webkit-scrollbar { */
/*     width: 12px; */
/* } */
/* ::-webkit-scrollbar-track { */
/*     background: var(--color-black); */
/* } */
/* ::-webkit-scrollbar-thumb { */
/*     border: 4px solid var(--color-black); */
/*     width: 6px; */
/*     background: var(--color-main); */
/*     border-radius: 10px; */
/* } */
/* ::-webkit-scrollbar-thumb:hover { */
/*     background: var(--color-purple); */
/* } */
